#app {
  font-family: 'Montserrat', sans-serif;

}

.router-link-exact-active {
  font-weight: bold;
}

.btn-success {
  background-color: #44ee89;
  border: none;
}

.badge-success {
  background-color: #44ee89;
}

.card-product {
  border-radius: 10px;
}

.breadcrumb {
  background-color: transparent;
}

.breadcrumb-item.active {
  font-weight: bold;
}

.img-fluid {
  border-radius: 20px;
}